<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent" >Поиск рецепта</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent" >
        <input type="search" placeholder="Введите название..." name="recipe_title" class="form-control" required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search" aria-hidden="true"></span></button>
    </form>
</div>

<form action="{% url 'filter' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Ингредиенты</h3>
        <ul class="w3layouts-box-list">
            {% for ingredient in view.get_ingredients %}
                <li class="editContent" >
                    <input type="checkbox" class="checked" name="ingr" value="{{ ingredient.id }}">
                    <span class="span editContent">{{ ingredient.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button>
</form>
